<a href="https://colab.research.google.com/github/karthikeyanmie/Image-Read/blob/master/4Loops%2Cfunc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=1
while i<=5:
  i=i+1
  print("Done")

In [ ]:
i=1
while i<=5:
  print("*"*i)
  i=i+1

Guessing game

In [ ]:
secret_number =9
guess_count = 0
guess_limit = 3
while guess_count <= guess_limit:
  guess= int(input("Guess:"))
  guess_count += 1
  if guess == secret_number:
    print('won ')
    break
else:
  print('sorry, try next time.')

car game

In [ ]:
command=""
while command != "quit":
  command = input(">").lower()
  if command == "start":
      print("car started.")
   
  elif command == "stop":
      print("stop the car")
  elif command == "quit":
      print('''
      start- to start the car
      stop-  to stop the car
      quit- to quit''')
  else :
      print("sorry, i don't understand")

For Loops

In [ ]:
for item in ["karthi", "Archana","thanvikha"]: 
  print(item)           # sqr bracket

karthi
Archana
thanvikha

In [ ]:
for item in [1,2,3,4,5,6,7,8,9,10]: 
  print(item)

In [ ]:
for item in range(10): 
  print(item)  
for item1 in range(5,10):  # 5 to 10 , before 10 it ends
  print(item1)

In [ ]:
for item2 in range(5,10,2):     # 2 as a step func
  print(item2)

In [ ]:
for item2 in range(5,10,2):     # 2 as a step func
  print(item2)

In [ ]:
prices = [10,20,30]
total =0

for price in prices:
  total += price      # like item in range
print(f'Total: {total}')

Nested loop - adding one loop inside another loop

In [ ]:
for x in range(4):
  for y in range(3): # first iteration x=0 and y=0 to2: x = 0 to3
    print(f'({x},{y})')

In [ ]:
numbers=[5,2,5,2,2]  
for x_count in numbers:
  print("x"*x_count)   # other lang don't support

In [ ]:
numbers=[5,2,5,2,2]
for x_count in numbers:  # x should be 5 count
    output = ""  # empty string
    for count in range (x_count): # x_ count = 5 for the first iteration, 2nd iter 2 times,etc
      output +='x'
    print(output)

In [ ]:
names = ['nikil','jones','ashim','karu','nirma','latha','deep','maria','edward']
names[0]= "niki"
print(names[0])
print(names[3:])
print(names[:]) # all items
print(names[2:5]) # 2 to 4 included in o/p
print(names[2:-2]) # 2nd and -2 will be included

Find the largest number in this list

In [ ]:
numbers =[ 5,11,2,7,4,19,10,6,8,]
max= numbers[0] # assigning first value as maximum
for number in numbers:
  if number > max:
    max= number
  print(max)

In [ ]:
matrix=[
      [1,2,4],  # row item
      [3,2,6],
      [8,4,2]
]
matrix[0][1]= 20  # we can remove it
print(matrix[0][1])  #[0] shows 0 row, [1] coloumn, always starts from 0 index

In [ ]:
matrix=[
      [1,2,4],
      [3,2,6],
      [8,4,2]
]
for row in matrix:
  for item in row:
    print(item)

In [ ]:
numbers= [6,7,9,3,2]
numbers.insert (0,10) # (a,b) a index , b actual obj
print(numbers)
numbers.append (20) # added at the end
print(numbers)
numbers.remove(9) # 9 removed
print(numbers)
print(50 in numbers ) # index of values in num , it gives boolean values- False
numbers.pop() # last iteam removed
print(numbers)
print(numbers.index(7)) # index value is 2

numbers.clear() # all
print(numbers)

print(numbers.index(100)) # index value not in the list error

In [ ]:
numbers= [6,7,9,7,3,2]

print(numbers.count(7)) #.count method
numbers.sort()
print(numbers )
numbers.reverse()
print(numbers )

In [ ]:
numbers= [6,7,9,7,3,2]
numbers2=numbers.copy()
numbers.append(10)
print(numbers2)

In [ ]:
numbers= [6,7,3,9,7,3,6,2]
uniques = []
for number in numbers:
  if number not in uniques:
    uniques.append(number)
print (uniques)

In [ ]:
numbers= (1,2,3) # tuple obj
numbers[0] = 10
Print(numbers[0]) #

In [ ]:
coordinates = (1,2,3)
coordinates[0]*coordinates[1]*coordinates[2]

In [ ]:
coordinates = (1,2,3) # without tuple, [] has more method usage
x= coordinates[0]  # without these lines it execute
y= coordinates[1]
z= coordinates[2]
x,y,z = coordinates
print (y)

In [ ]:
customer ={ "name": "karthi keyan",
"email":"rajakarthi2000@yahoo.com",
"phone":"9500" }
print(customer.get("email"))    # get method ,
customer["name"] = "karthi"
print (customer["name"])

customer["birthday"] = "july 18th 1979"
print (customer["birthday"])

In [ ]:
phone = input ("phone: ")
digits_mapping = {
"1" : "one",
"2" : " two",
"3" : "three",
"4" : "four",
"5" : "five",
"5" : "five",
"6": "six", 
"7": "seven"
}
output = "              "
for ch in phone:
  output += digits_mapping.get( ch, " ! " +  "  " ) # [] or get method , 
print(output)

In [41]:
message = input(">")
words = message.split("   ") # what this method - boundary into multiple words
emojis ={
    ":)": "abc" # happy face
    "(:": "bba"
}
output ="  "
for word in words:
  output += emojis.get(word, word) + ""
print (output)

SyntaxError: ignored

Func: few lines of code to perform a specific task/ organised program eg print (), input()

In [ ]:
def greet_user():
    print(" Hi Karthi")
    print("welcome you all")


print("start") # exe of func starts
greet_user()   # func goes to def for exe
print("finish")

passing information to the func - ( inside )

In [47]:
def greet_user( name):
    print(f" Hi {name} !")
    print("welcome you all")


print("start") # exe of func starts
greet_user("thanvikha")   # func goes to def for exe
print("thanks for patience listerning")

start
 Hi thanvikha !
welcome you all
thanks for patience listerning

In [ ]:
def greet_user( name):
    print(f" Hi {name} !")
    print("welcome you for reception")


print("start") # exe of func starts
greet_user("thanvikha")   # func goes to def for exe
greet_user("Archana")
greet_user("ravi") # raviis argument passed to the name
greet_user()    # error
print("thanks for patience listerning")

In [ ]:
def greet_user( first_name, last_name):
    print(f" Hi {first_name}{last_name} !")
    print("welcome you for reception")


print("start") # exe of func starts
greet_user("thanvikha ", "karthikeyan")   
print("finish")

In [ ]:
def greet_user( first_name, last_name):
    print(f" Hi {first_name}          {last_name} !")
    print("welcome you for reception")


print("start") # exe of func starts
greet_user(last_name = "karthi" ,first_name ="archana")    # key word arguments
print("finish")

In [ ]:
def greet_user( first_name, last_name):
    print(f" Hi {first_name}          {last_name} !")
    print("welcome you for reception")


print("start") # exe of func starts
greet_user("karthi" , last_name="archana")    # position and key word arg

print("finish")